$colorbody:  linear-gradient(25deg, #345663, #0a2126);
$colortextos: #bdba97e6;



* {
  margin: 0%;
  padding: 0%;
}
body {
  background: $colorbody;
  color: $colortextos;
  font-family: "bayon";
}
.titulo { 
  box-sizing: border-box;
  padding: 10px;
  margin: 10px;
  justify-content: space-between;
  color: $colortextos;
  font-size: 15px;
  text-align: center;
    font-family: "Bebas Neue", cursive;
  
}
.contenedor {
  margin-top: 10vw;
  width: 100%;
  max-width: 1200px;
  min-height: 400px;
  justify-content: center;
  display: flex;
  gap: 2vw;

  .carta {
    box-shadow: rgb(223, 217, 217);
    text-decoration: none;
    text-align: center;
    font-size: 0.8vw;
    font-family: "roboto";
    width: 330px;
    height: 400px;
    border-radius: 5px;
    box-sizing: border-box;
    background: linear-gradient(45deg, #c96d9c, transparent);
    img {
      
      max-width: 300px;
    }

    &:hover {
      box-shadow: 6px 6px 6px 6px rgba(80, 3, 3, 0.2);
      z-index: 10;
      transform: scale(1.2, 1.2);
      transition: all 1s;
      
    }
  }

  .textos {
    color: $colortextos;
  }

  a button {
    color: white;
    background-color: #29b5d4;
    box-sizing: border-box;
    border-radius: 5px;
  }
}

@media only screen and  (max-width: 800px){
main{ display: flex;
  flex-wrap: wrap;}
.titulo{ h1 {color: $colortextos;}}
  .contenedor{ color: $colortextos;
    font-size: 1vw;
    flex-direction: column;
  align-items: center;}

    .carta{font-size: min($numbers: 15px);
      max-width: 300px;
    max-height: auto;}

    .titulo {
      width: 1200px;
      display: block;
      box-sizing: border-box;
      padding: 10px;
      margin: 10px;
     
      text-align: center;
      color: rgba(224, 219, 219, 0.938);
      font-size: 15px;
      font-size: 30px;
      font-family: "Bebas neue";
    
    }


}


