* {
  margin: 0%;
  padding: 0%;
}

body {
  background: linear-gradient(25deg, #345663, #0a2126);
  color: white;
  font-family: "roboto";
}

.calendario {
  color: rgb(230, 225, 225);
  background-color: rgb(0, 0, 0.6);
  padding: 60px 25px;
  width: auto;
  height: 100px;
  background-size: 100% 100%;
  text-align: center;
  background-image: url(../imagenes/banner.png);

  justify-content: space-between;
}

header {
  background-color: rgb(51, 48, 48);
}

header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

header nav .menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 5px;
}

header nav .menu .logo img {
  width: 35px;
  box-sizing: border-box;
  box-shadow: 15 solid white;
}

header nav .menu .links {
  display: flex;
}
header nav .menu .links a {
  padding: 16px 12px;
  color: white;
  text-decoration: none;
  border-bottom: 6px solid transparent;
}

header nav .menu .links a.active {
  border-bottom-color: rgb(51, 128, 230);
}

header nav .login .login_boton {
  padding: 21px 20px;
  border: none;
  background-color: brown;
  color: cornsilk;
}

header nav .login .login_boton a {
  color: cornsilk;
  text-decoration: none;
}

main {
  font-family: "Bebas Neue";
  font-size: 20px;
  text-align: center;
  margin: 15px;
  padding: 15px;
}

/*.contenedorsound .lista .listasound {
 display: grid;
 grid-template-columns: ;

}*/

.contenedorsound .lista .listasound iframe {
  padding: 15px;
}
