/*---------------------ESTILO NOTICIAS----------------------------*/
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box; }

body {
  background: linear-gradient(25deg, #345663, #0a2126);
  color: #bdba97e6; }

.not-list {
  gap: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 30px 15px; }
  .not-list .not-img-1 {
    background: url(../imagenes/not1.jpg);
    width: auto;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: 0.5s; }
  .not-list .not-img-2 {
    background: url(../imagenes/not27.jpg);
    width: auto;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: 0.5s; }
  .not-list .not-img-3 {
    background: url(../imagenes/not3.jpg);
    width: auto;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: 0.5s; }
  .not-list .not-img-4 {
    background: url(../imagenes/not4.jpg);
    width: auto;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: 0.5s; }
  .not-list .not-img-5 {
    background: url(../imagenes/not5.jpg);
    width: auto;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: 0.5s; }
  .not-list .not-img-6 {
    background: url(../imagenes/not6.jpeg);
    width: auto;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: 0.5s; }
  .not-list .not-img-7 {
    background: url(../imagenes/not7.jpg);
    width: auto;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: 0.5s; }
  .not-list .not-img-8 {
    background: url(../imagenes/not8.jpg);
    width: auto;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: 0.5s; }
  .not-list .not-img-9 {
    background: url(../imagenes/not9.jpg);
    width: auto;
    height: 200px;
    background-size: cover;
    background-position: center;
    transition: 0.5s; }
  .not-list .not {
    box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.1);
    overflow: hidden; }
  .not-list .not:hover {
    transform: translate(-5px, -5px); }
  .not-list .not-img-1:hover, .not-list .not-img-2:hover, .not-list .not-img-3:hover, .not-list .not-img-4:hover, .not-list .not-img-5:hover, .not-list .not-img-6:hover, .not-list .not-img-7:hover, .not-list .not-img-8:hover, .not-list .not-img-9:hover {
    transform: scale(1.1); }
  .not-list .not_header {
    border-radius: 10px;
    width: 100%;
    height: 200px;
    cursor: pointer;
    overflow: hidden; }
  .not-list .not_body {
    overflow: hidden;
    padding: 15px;
    text-align: center; }
    .not-list .not_body span {
      display: inline-block;
      color: azure;
      margin-bottom: 10px; }
    .not-list .not_body h2 {
      font-size: 20px;
      margin-bottom: 15px;
      font-family: "bebas neue"; }
    .not-list .not_body p {
      font-size: 15px;
      margin-bottom: 15px;
      font-family: "roboto"; }
    .not-list .not_body .not_link {
      display: block;
      text-decoration: none;
      background-color: aqua;
      color: black;
      width: 50%;
      margin: auto;
      border-radius: 20px; }
      .not-list .not_body .not_link:hover {
        transform: translate(-5px); }

@media (max-width: 840px) {
  .not-list {
    display: flex;
    flex-direction: column; } }

/*-------------------------- ESTILO INDEX --------------------------------------*/
.calendario {
  font-family: "bebas neue";
  color: #bdba97e6;
  padding: 60px 25px;
  text-align: center;
  justify-content: space-between; }

main {
  display: grid;
  grid-template-columns: 2fr;
  grid-area: 1fr 1fr; }
  main .eventos {
    display: flex;
    flex-direction: row;
    gap: 5vw; }
  main .eventos_imagen {
    margin-bottom: 3vw;
    width: 70%;
    margin-left: 3%; }
  main .eventos_imagen img {
    border-radius: 10px;
    max-width: 768px; }
  main .eventos_pasados {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px; }
  main footer {
    text-align: center;
    padding: 5px;
    font-size: 15px; }

@media only screen and (max-width: 600px) {
  main .eventos {
    width: 100%;
    margin: 0%;
    display: flex;
    flex-direction: column; }
    main .eventos .eventos_imagen {
      width: 100vw;
      margin: auto; }
      main .eventos .eventos_imagen img {
        margin: auto; }
    main .eventos .eventos_pasados {
      max-width: 85vw;
      text-align: center;
      width: 100vw !important;
      margin: auto; }
    main .eventos img {
      display: block;
      width: 350px; } }

@media only screen and (min-width: 601px) and (max-width: 999px) {
  * {
    margin: 0%; }
  main .eventos {
    display: flex;
    flex-direction: column; }
  main .eventos_imagen {
    width: 100vw; }
  main .eventos_pasados {
    justify-content: center;
    min-width: 600px;
    text-align: center;
    width: 100vw !important; }
  main .imagen {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 550px; } }

/*-----------------ESTILO RADIO------------*/
.mainradio {
  font-family: "bebas neue";
  font-size: 20px;
  text-align: center;
  margin: 15px;
  padding: 15px; }

.contenedorsound iframe iframe {
  padding: 15px; }

/*---------------ESTILO EVENTOS------------------------*/
.contenedor {
  flex-wrap: wrap; }
  .contenedor .texto {
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
    justify-content: space-between;
    color: #bdba97e6;
    font-size: 15px;
    text-align: center; }
  .contenedor h1 {
    font-family: "bebas neue"; }
  .contenedor p {
    font-family: "roboto"; }
  .contenedor .contenedor_eventos {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
    align-items: center;
    margin: 5px; }
  .contenedor .flyerEventos {
    justify-content: space-between;
    display: flex;
    flex-direction: column; }
  .contenedor img {
    width: 300px;
    height: 300px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, 0.2); }
  .contenedor img:hover {
    transform: scale(1.3, 1.3);
    transition: all 1s;
    background-color: #0f94d1; }

@media only screen and (min-width: 600px) and (max-width: 800px) {
  .maineventos .contenedor_eventos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
    box-sizing: border-box; } }

@media only screen and (max-width: 600px) {
  .maineventos .contenedor_eventos {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center; }
  .maineventos .textos {
    font-size: 10px; } }

/*---------------------------- ESTILO CONTACTO ----------------------------*/
.container {
  margin-top: 50px;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 100px; }
  .container .left {
    background: linear-gradient(top blue, blue); }
  .container .contact-box {
    max-width: 850px;
    display: grid;
    grid-template-columns: 1fr;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(top blue, blue);
    box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19); }
  .container .right {
    padding: 25px 40px; }
  .container h2 {
    position: relative;
    padding: 0 0 10px;
    margin-bottom: 10px; }
  .container .field {
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0);
    outline: none;
    background-color: rgba(230, 230, 230, 0.6);
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    margin-bottom: 22px;
    transition: 0.3s; }
  .container .field:hover {
    background-color: rgba(0, 0, 0, 0.1); }
  .container textarea {
    min-height: 150px; }
  .container .btn {
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: #0543c9;
    color: #fff;
    font-size: 1.1rem;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s; }
  .container .btn:hover {
    background-color: #1e788f; }

@media only screen and (max-width: 990px) {
  .container {
    padding: 0%; }
    .container .contact-box {
      min-width: 350px; } }
